.chart-container {
  max-width: 100%;
  margin: 20px 0;
  padding: 20px;

  border-radius: 8px;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
    color: #343a40;
  }

  .chart {
    max-width: 800px;
    margin: 0 auto;
  }
}
